<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <style>
        body{
            background-color: black;
        }
        h1{
            align-items: center;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Hello satyam kaise ho??</h1>
</body>
</html>